.carousel { margin: 0 auto; height: 300px; width: 400px; overflow: hidden; border: solid 2px #000; position: relative; }

.carousel ul { padding: 0 0; margin: 0 0; width: 2000px; }

.carousel li { height: 300px; width: 400px; list-style: none; float: right; }

.carousel .prev, .carousel .next { cursor: pointer; position: absolute; overflow: hidden; z-index: 2; top: 50%; transform: translate(0, -50%); font-size: 70px; text-align: center; color: #fff; }

.carousel .prev { left: 10px; }

.carousel .next { right: 10px; }
