.carousel {
	margin: 0 auto;
	height: 300px;
	width: 400px;
	overflow: hidden;
	border: solid 2px #000;

	ul {
		padding: 0 0;
		margin: 0 0;
		width: 2000px;

		li {
			height: 300px;
			width: 400px;
			list-style: none;
			float: right;
			overflow: hidden;

			img {
				height: 300px;
				width: 400px;
				object-fit: cover;
			}
		}
	}
}

	